/*ceci est un commentaire*/


	#nav 
{
   margin:0;
   padding:0;
}
 
#nav li 
{
   display:inline;
   padding:0;
   margin:0;
}
/*Changement de couleur pour les section*/

#nav a:link, #nav a:visited 
{
   color:#9800D8;
   background:#333D3A;
}

#nav a:link, #nav a:visited 
{
   color:#9800D8;
   background::#333D3A;
   padding:15px 20px 2px 5px;
}


body{ background-color:#B0D8E8;}
	

	/*Une couleur pas trop agressif en fond*/

	h1 {font-family:Impact;border-bottom: 6px solid #9800D8 ; background-color: #333D3A ; color : #9800D8 ; text-decoration: overline; text-align: center;font-size:70px
	}
	h2 {font-family:Impact;border-bottom: 6px solid #9800D8 ;background-color:#333D3A ; font-size:60px; color:#9800D8; text-align: center;text-decoration: overline;
	}
	ul {	font-family:"Times New Roman", Times, serif;
		list-style-type: none ;font-size:35px ;
	}
	/*pour changer d'une police un peut trop basique*/
 	

	li{
	color:#686868;text-align: center;font-size:35px ; "Times New Roman", Times, serif;  font-style: italic; border-bottom: dashed 1px
	}

	h2 {border-bottom: 6px solid #9800D8 ;background-color:#333D3A ; font-size:60px; color:#9800D8; text-align: center;text-decoration: overline;}

	/*centré, mettre des bordure, changer la taille et la couleur c'est fun !*/

	p{
	color:#9800D8; text-align: center;font-size:35px ;"Times New Roman", Times, serif; font-style: oblique;border-style: double;
	}
